body {
    box-sizing: border-box;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#696eff,#f8acff);
}

#task-container {
    width: 30%;
    border: 1px solid #666;
    padding: 10px;
    background: #fff;
}

input {
    width: 100%;
    margin: 4px;
    box-sizing: border-box;
    padding: 5px;
}



#addTask {
    background: hsla(265, 53%, 29%, 1);

    background: linear-gradient(90deg, hsla(265, 53%, 29%, 1) 0%, hsla(24, 93%, 73%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(265, 53%, 29%, 1) 0%, hsla(24, 93%, 73%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(265, 53%, 29%, 1) 0%, hsla(24, 93%, 73%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#432371", endColorstr="#FAAE7B", GradientType=1);
    border: none;
    width: 30%;
    padding: 8px;
    color: #fff;
    cursor: pointer;
}

#taskItem {
 list-style: none;
 margin-left: 0;
 width: 30%;
}

#taskItem li {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
}

